html,
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --purpleblue-color: #535267;
  --pink-color: #ee563a;
  --greywrapper-color: #fafafa;
  --greytext-color: #97979b;
}

/*PurpleBlue: #535267
Pink: #EE563A
GreyWrapper: #FAFAFA
GreyText: #97979B*/
